<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sin acceso</title>
        <style>
            @import url("https://gitcdn.link/cdn/villager/styles/main/errors.css");
          </style>
        <body>
        <h1>403</h1>
        <div><p>> <span>Codigo Error</span>: "<i>403 Prohibido</i>"</p>
        <p>> <span>ERROR DESCRIPTION</span>: "<i>Acceso denegado, no tienes suficientes permisos para acceder a esta pagina</i>"</p>
        <p><a href="/">Inicio</a></p>
        </div>
    </body>
    </head>
</html>