<!DOCTYPE html>
<html lang="es">
<head>
  <title>No encontrado</title>
  <style>
      @import url("https://gitcdn.link/cdn/villager/styles/main/errors.css");
  </style>
  <body>
  <h1>404</h1>
  <div><p>> <span>Codigo Error</span>: "<i>404 No encontrado</i>"</p>
  <p>> <span>ERROR DESCRIPTION</span>: "<i>Pagina no encontrada, la pagina que intentas utilizar no existe en el servidor</i>"</p>
  <p><a href="/">Inicio</a></p>
  </div>
</body>
</head>
</html>