<head>
    <title><%= code %></title>
    <style>
            @import url("https://gitcdn.link/cdn/villager/styles/main/errors.css");
    </style>
    <body>
    <h1><%= code %></h1>
    <div><p>> <span>Codigo Error</span>: "<i><%= code %></i>"</p>
    <p>> <span>ERROR DESCRIPTION</span>: "<i><%= e.message %></i>"</p>
    <p><a href="/">Inicio</a></p>
    </div>
  </body>
  </head>